.M_mapTable-parentTD {

}
.M_mapTable {
    margin : 0px;
    padding : 0px;
    table-layout: fixed;
    cursor : pointer;
}

.mapTileImage {
    cursor : pointer;
    height : 32px;
    width : 32px;
    float:left;
    margin : 2px;

}
.mapTileImage:hover {
    
}

.mapTileImageSelected, .mapTileImageSelected:hover {
    -moz-box-shadow: 0 0 10px 2px #e3e3e3;
    -webkit-box-shadow: 0 0 10px 2px #e3e3e3;
    box-shadow: 0 0 10px 2px #e3e3e3;
}


.selectedTileset, .selectedMap, .selectedTile, .panUp, .panDown, .panLeft, .panRight, .fillColumn, .fillRow, .floodFill, .floodDelete {
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(#1e1e1e));
    background: -moz-linear-gradient(top,  #4f4f4f,  #1e1e1e);
    font-family: Helvetica, sans-serif;
    font-weight : bold;
    -moz-box-shadow: 0 0 2px 2px black;
    -webkit-box-shadow: 0 0 2px 2px black;
    box-shadow: 0 0 2px 2px black;
    color : white;
    text-align : center;
    vertical-align : middle;
    cursor : pointer;
    line-height : auto;
}
.fillRow div {
    line-height : auto;
}
.fillColumn-hover, .fillRow-hover {
    color:yellow;
    background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#4f4f4f));
    background: -moz-linear-gradient(top,  #1e1e1e,  #4f4f4f);
    line-height : auto;
}

.panUp, .panDown {
    height : 20px;
}
.panLeft, .panRight {
    width : 20px;
}
.fillColumn {
    height:20px;
    overflow-x:hidden;
    overflow-y:hidden;
    overflow : hidden;
}
.fillRow {
    width:10px;
    overflow-x:hidden;
    overflow-y:hidden;
    overflow : hidden;
}
.floodDelete {

}

#mapEditorTree {

}

.miniMap {
    position : absolute;
    display : none;
    z-index : 1000;
    background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#4f4f4f));
    background: -moz-linear-gradient(top,  #1e1e1e,  #4f4f4f);
    border : 4px solid black;
    overflow:hidden;
    height : 150px;
    width : 150px;
}
.miniMap canvas {
    cursor : pointer;
}

.MoveCursor {
    cursor : move ! important;
}