
.tileOrderHandle, .mapTileImage, .M_tileHolder {
    font-size:1px;
    background-size:100%;
}
.M_tileHolder-empty {
    -moz-box-shadow: 0 0 1px 0px white;
    -webkit-box-shadow: 0 0 1px 0px white;
    box-shadow: 0 0 1px 0px white;
}

.tileListItem table {
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(#1e1e1e));
    background: -moz-linear-gradient(top,  #4f4f4f,  #1e1e1e);
}

#tilePicker {
    position : absolute;
    display : none;
    white-space:nowrap;
    border : 2px solid black;
    background-color : white;
}
.tilePicker {
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(#1e1e1e));
    background: -moz-linear-gradient(top,  #4f4f4f,  #1e1e1e);
    padding : 4px;
}
.tilePicker:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#4f4f4f));
    background: -moz-linear-gradient(top,  #1e1e1e,  #4f4f4f);
}
