.pageLink {
    font-weight:bold;
    color : #A5DFF2;
}
.pageLink:hover {
    color:white;
}

.pageLinkCurrent {
    background-color : #999999;
}
.pageLinkCurrent a {
    color:white;
}

.Button {
    /*border:2px outset #eeeeee;*/
    display : inline-block;
    cursor : pointer;
    padding : 2px 2px;
    padding-left : 0px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:0px;
    color : #000000;
    background-color : #e3e3e3;
    font-size:10px;
}
.Button-hover {
    background-image : none;
    background-color : #eeeeee;
}

.DeleteButton, .NavButton, .ActionButton, .CancelButton, .CloseButton, .NewButton {
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(#1e1e1e));
    background: -moz-linear-gradient(top,  #4f4f4f,  #1e1e1e);
    font-family: Helvetica, sans-serif;
    font-weight : bold;
    padding: 1px 5px;
    -moz-box-shadow: 0 0 2px 2px black;
    -webkit-box-shadow: 0 0 2px 2px black;
    box-shadow: 0 0 2px 2px black;
    color : white;
}

.NavButton {
    padding: 5px 10px;
    -moz-box-shadow: 0 0 3px 2px black;
    -webkit-box-shadow: 0 0 3px 2px black;
    box-shadow: 0 0 3px 2px black;
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(#606060));
    background: -moz-linear-gradient(top,  #4f4f4f,  #606060);
}

.NewButton {
    -moz-box-shadow: 0 0 1px 1px #00ff00;
    -webkit-box-shadow: 0 0 1px 1px #00ff00;
    box-shadow: 0 0 1px 1px #00ff00;
}

.DeleteButton, .CancelButton, .CloseButton {
    -moz-box-shadow: 0 0 1px 1px #ff0000;
    -webkit-box-shadow: 0 0 1px 1px #ff0000;
    box-shadow: 0 0 1px 1px #ff0000;
    color : #fcfcff ! important;
}

.DeleteButton-hover, .NavButton-hover, .ActionButton-hover, .CancelButton-hover, .CloseButton-hover, .NewButton-hover {
    color:#9cdbff;
    -moz-box-shadow: 0 0 20px 2px black;
    -webkit-box-shadow: 0 0 20px 2px black;
    box-shadow: 0 0 20px 2px black;
    background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#4f4f4f));
    background: -moz-linear-gradient(top,  #1e1e1e,  #4f4f4f);
}