.extUNK {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-block.png) transparent no-repeat left center;
}
.extUNK_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-block.png) transparent no-repeat right center;
}
.extTXTmulti {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/documents-stack.png) transparent no-repeat left center;
}
.extTXTmulti_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/documents-stack.png) transparent no-repeat right center;
}
.extTXT, .extRTF {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-text.png) transparent no-repeat left center;
}
.extTXT_rev, .extRTF_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-text.png) transparent no-repeat right center;
}
.extPDF {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-pdf.png) transparent no-repeat left center;
}
.extPDF_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-pdf.png) transparent no-repeat right center;
}
.extXLS, .extXLSX, .extCSV {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-excel.png) transparent no-repeat left center;
}
.extXLS_rev, .extXLSX_rev, .extCSV_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-excel.png) transparent no-repeat right center;
}
.extDOC, .extDOCX {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-word.png) transparent no-repeat left center;
}
.extDOC_rev, .extDOCX_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/document-word.png) transparent no-repeat right center;
}
.extPNG, .extJPG, .extTIF, .extTIFF, .extJPEG, .extGIF {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/image.png) transparent no-repeat left center;
}
.extPNG_rev,.extJPG_rev, .extTIF_rev, .extTIFF_rev, .extJPEG_rev, .extGIF_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/image.png) transparent no-repeat right center;
}


.extMP3, .extWAV {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/volume.png) transparent no-repeat left center;
}
.extMP3_rev, .extWAV_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/volume.png) transparent no-repeat right center;
}

.extMP4, .extOGG, .extVOB, .extMPEG, .extMPG, .extWMV, .extMOV, .extAVI {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/television.png) transparent no-repeat left center;
}
.extMP4_rev, .extOGG_rev, .extVOB_rev, .extMPEG_rev, .extMPG_rev, .extWMV_rev, .extMOV_rev, .extAVI_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/television.png) transparent no-repeat right center;
}