.ICONMissing {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cross.png) transparent no-repeat left center;
}
.ICONMissing_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cross.png) transparent no-repeat right center;
}

.NoPadding {
    padding:0px ! important;
}
.PaypalDonate, PaypalDonate_rev {
    display : inline-block;
    height : 32px;
    width : 64px;
    background-image : url('/client/images/paypal_donate.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.PaypalDonate_rev {
    background-position: right center ! important;
}

.BitcoinDonate, .BitcoinDonate_rev {
    display : inline-block;
    height : 32px;
    width : 32px;
    background-image : url('/client/images/bitcoin_donate.png');
    background-repeat: no-repeat;
    background-position: left center;
}
.BitcoinDonate_rev {
    background-position: right center ! important;
}

.Skills {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cPanel.png) transparent no-repeat left center;
}
.Skills_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cPanel.png) transparent no-repeat right center;
}
.Logout {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/lock-unlock.png) transparent no-repeat left center;
}
.Logout_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/lock-unlock.png) transparent no-repeat right center;
}
.Login {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/lock--arrow.png) transparent no-repeat left center;
}
.Login_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/lock--arrow.png) transparent no-repeat right center;
}
.Add {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/plus.png) transparent no-repeat left center;
}
.Add_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/plus.png) transparent no-repeat right center;
}
.Close {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cross.png) transparent no-repeat left center;
}
.Close_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cross.png) transparent no-repeat right center;
}
.Cancel {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/slash.png) transparent no-repeat left center;
}
.Cancel_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/slash.png) transparent no-repeat right center;
}
.Delete {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cross.png) transparent no-repeat left center;
}
.Delete_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cross.png) transparent no-repeat right center;
}
.Next {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/navigation.png) transparent no-repeat left center;
}
.Next_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/navigation.png) transparent no-repeat right center;
}
.Prev {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/navigation-180.png) transparent no-repeat left center;
}
.Prev_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/navigation-180.png) transparent no-repeat right center;
}
.AsyncWait {
    padding-left:20px ! important;
    background:url(/client/mochaui/themes/charcoal/images/icons/spinner.gif) transparent no-repeat left center;
}
.AsyncWait_rev {
    padding-right:20px ! important;
    background:url(/client/mochaui/themes/charcoal/images/icons/spinner.gif) transparent no-repeat right center;
}
.View {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/view.png) transparent no-repeat left center;
}
.View_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/view.png) transparent no-repeat right center;
}
.Email {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/mail.png) transparent no-repeat left center;
}
.Email_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/mail.png) transparent no-repeat right center;
}
.Print {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/printer.png) transparent no-repeat left center;
}
.Print_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/printer.png) transparent no-repeat right center;
}
.Yes {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/tick.png) transparent no-repeat left center;
}
.Yes_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/tick.png) transparent no-repeat right center;
}
.No {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cross.png) transparent no-repeat left center;
}
.No_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/cross.png) transparent no-repeat right center;
}
.Question {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/question.png) transparent no-repeat left center;
}
.Question_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/question.png) transparent no-repeat right center;
}
.Signup {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/pencil--plus.png) transparent no-repeat left center;
}
.Signup_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/pencil--plus.png) transparent no-repeat right center;
}
.Bank {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/bank.png) transparent no-repeat left center;
}
.Bank_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/bank.png) transparent no-repeat right center;
}
.Male {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/male.png) transparent no-repeat left center;
}
.Male_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/male.png) transparent no-repeat right center;
}
.Female {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/female.png) transparent no-repeat left center;
}
.Female_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/female.png) transparent no-repeat right center;
}
.Character {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/character.png) transparent no-repeat left center;
}
.Character_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/character.png) transparent no-repeat right center;
}
.Inventory {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/safe.png) transparent no-repeat left center;
}
.Inventory_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/safe.png) transparent no-repeat right center;
}
.Update {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/update.png) transparent no-repeat left center;
}
.Update_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/update.png) transparent no-repeat right center;
}
.Refresh {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/refresh.png) transparent no-repeat left center;
}
.Refresh_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/refresh.png) transparent no-repeat right center;
}
.Gold {
    color:gold;
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/gold.png) transparent no-repeat left center;
}
.Gold_rev {
    color:gold;
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/gold.png) transparent no-repeat right center;
}
.Wiki {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/wiki.png) transparent no-repeat left center;
}
.Wiki_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/wiki.png) transparent no-repeat right center;
}
.Home {
    padding-left:20px;
    background:url(/favicon.png) transparent no-repeat left center;
    background-size:14px 14px;
}
.Home_rev {
    padding-right:20px;
    background:url(/favicon.png) transparent no-repeat right center;
    background-size:14px 14px;
}
.User {
    padding-left:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/male.png) transparent no-repeat left center;
}
.User_rev {
    padding-right:20px;
    background:url(/client/mochaui/themes/charcoal/images/icons/male.png) transparent no-repeat right center;
}