#CharacterEquipmentTable {
    background-repeat : no-repeat;
    background-position : center left;
    background-size : 100%;
}

#characterEquipmentWindow_content .mochaContent, #characterEquipmentWindow_content .mochaContent .pad, #characterEquipmentWindow_content {
    padding : 1px ! important;
}

.ItemEmpty {
    width : 24px;
    height : 24px;
}

#CharacterInventoryTable {
    border-collapse : separate ! important;
}
.CharacterInventory {
    border-width: 6px 6px 6px 6px;
    -moz-border-image: url(/client/mochaui/themes/charcoal/images/Border-Item.png) 10 10 10 10 stretch;
    -webkit-border-image: url(/client/mochaui/themes/charcoal/images/Border-Item.png) 10 10 10 10 stretch;
    -o-border-image: url(/client/mochaui/themes/charcoal/images/Border-Item.png) 10 10 10 10 stretch;
    border-image: url(/client/mochaui/themes/charcoal/images/Border-Item.png) 10 10 10 10 stretch;
}

.EquipAccepts {
    -webkit-box-shadow: 0px 0px 4px 4px black;
    -moz-box-shadow: 0px 0px 4px 4px black;
    box-shadow: 0px 0px 4px 4px black;
    background-color:white;
}