.CharacterSelect {
    text-align : left
}
#CreateCharacter, #ListCharacters, .CharacterSelect{
    display : inline-block;
    -moz-box-shadow: 0 0 1px 1px black;
    -webkit-box-shadow: 0 0 1px 1px black;
    box-shadow: 0 0 1px 1px black;
    margin : 2px;
}

#CreateCharacter .tblPortrait {
    width : 100%;
}

.CharacterSelect td,
#CreateCharacter,
#CreateCharacter .tblWrapper td,
#CreateCharacter .tblPortrait td,
#CreateCharacter .tblNameGender td {
    padding : 4px;
}

.Portrait {
    width : 64px;
    height : 64px;
    display : inline-block;
}
.PortraitDir {
    background-size : 100%;
    width : 32px;
    height : 32px;
    display : inline-block;
}